[mysqld]
basedir = {{ pillar['INSTALL_DIR'] }}/mysql
datadir = {{ pillar['MYSQL_DATA'] }}/mysql/data
socket = /tmp/mysql.sock
port = 3306
pid-file = {{ pillar['MYSQL_DATA'] }}/mysql/data/mysql.pid
user = mysql
# skip-name-resolve
