[mysqld]
basedir = {{ pillar['INSTALL_DIR'] }}/mysql
datadir = {{ pillar['MYSQL_DATA'] }}/mysql/data
socket = /tmp/mysql.sock
port = 3306
pid-file = {{ pillar['MYSQL_DATA'] }}/mysql/data/mysql.pid
user = mysql
#
# 主从配置参数
log-bin=mysql_bin
server-id= {{ pillar['MYSQL_MASTER_ID'] }}
skip_name_resolve = ON
